@use './styles/tokens';
@use './styles/primitives';
@use './styles/datepicker-theme';
@use './styles/ng-select-theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-sans);
  color: var(--c-text);
  margin: 0;
  padding: 0;
}
