@use './styles/tokens';
@use './styles/primitives';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-sans);
  color: var(--c-text);
  height: 100vh;
  margin-left: 101px;
  padding: 0;
}
